{% extends "lists/base.html" %}

{% block title %}{{ super() }} · Elimina lista{% endblock title %}

{% block bodyid %}confirm{% endblock %}

{% block content %}
	<section>
		<h1>Conferma eliminazione “{{ list.name }}”</h1>
		
		<p>Sei sicuro di voler eliminare la lista "{{ list.name }}"?<br />Questa azione comporterà la rimozione di {{ list.movies.count() }} film dalla lista e non è reversibile.</p>
		
		<form action="" method="post" accept-charset="utf-8" class="yesno">
			{% csrf_token %}
			<a class="button">No, annulla</a>
			<button type="submit" class="negative">Si, elimina</button>
		</form>
	</section>
{% endblock %}