{% extends "collection/base.html" %}

{% block bodyid %}browse{% endblock %}

{% block content %}
	<section>
		<h1>Sfoglia per lettera: {{ letter }}</h1>
		
		<nav>
			<ul>
				{% for l in letters %}
				<li{% if l == letter %} class="selected"{% endif %}><a href="{% url collection_browse_letter letter=l.lower() %}">{{ l }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		
		<table>
			{% for m in movies %}
			<tr>
				<td><a href="{{ m.meta_origin }}">{{ m.title }}</a></td>
				<td>{{ m.year }}</td>
				<td>{{ m.duration }}</td>
				
			</tr>
			{% endfor %}
		</table>
	</section>
{% endblock %}