body > section
    p
        margin: 1em 0
        line-height: 1.7em

.error, .errorlist
    color: #A00000
    background: #ffe2e2

hr
    border: 0
    margin: 1em 0
    padding: 0
    border-top: 1px solid #eee

strong
    font-weight: bold

sup
    vertical-align: super
    font-size: .75em

sub
    vertical-align: sub
    font-size: .75em

em
    font-style: italic

a:link, a:visited
    color: $link-color
    text-decoration: none

a:hover
    text-decoration: underline

.clear
    clear: both

section h1
    font-weight: bold
    font-size: 2.4em
    color: #344558
    padding-top: .25em
    margin-bottom: .8em
    font-family: $font-serif
    -webkit-font-smoothing: antialiased
    
    sup
        color: #777
        margin-top: -4em
        display: inline-block
        font-size: 0.5em
        font-weight: normal
        font-family: $font-light
        text-transform: uppercase

body > section
    +border-radius(4px)
    +box-shadow(#e9e9e9, 0px, 0px, 20px)
    width: 62.5em
    margin: 0 auto
    padding: 2.2em 3em 2.8em 3em
    background: #fff
    border: 1px solid #e0e0e0
    position: relative

body#confirm section
    text-align: center
    
    h1
        margin-bottom: 1em

@import "buttons"
@import "forms"
@import "tables"
