// Definitions

$header_background: #425E87
$link_hover_background: #FFFCE0


// Imports

@import "compass/css3"
@import "compass/utilities/general/clearfix"
#details
    .movie .meta strong:first-child, .release table thead
        text-transform: uppercase
        font-family: Lucida Grande
        color: #888
        line-height: 1.5em
        font-weight: normal
        font-size: 0.75em

    .movie
        margin-bottom: 1em
    
        .duration
            position: absolute
            top: .78em
            right: 1em
            font-size: 3em
            color: #888
            font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
        
            span
                vertical-align: 106%
                text-transform: uppercase
                font-family: Arial
                font-size: .25em
                display: inline-block
                color: #999
        
            strong
                font-weight: bold
    
        .meta
            //
            Avoid hover effect triggering on the elements when the mouse moves
            over the image
        
            padding-left: 174px
            margin-left: 1.6em
        
            > li
                line-height: 1.5em
                margin-bottom: 1em
                font-family: Lucida Grande
            
                strong:first-child
                    display: block
                    margin-bottom: .5em
        
            .cast, .genres
                position: relative
            
                > span
                    color: #666
                    font-size: .8em
            
                > a
                    font-size: .8em
                    position: absolute
                    right: 0
                    top: -3px
                    opacity: .2
                    color: #333
                    +transition-property(opacity)
                    +transition-duration(.3s)
                
                &:hover > a
                    color: #004080
                    opacity: 1
                    +transition-property(opacity)
                    +transition-duration(.3s)
        
            .cast ul, .genres ul
                display: inline
            
                li
                    display: inline
            
                    &.hidden
                        display: none
            
                    &:after
                        content: ','
            
                    &:last-child:after, &.last:after
                        content: ''
                
    
        > img
            display: block
            padding: 2px
            margin: -3px 1.5em 1.5em -3px
            border: 1px solid #ccc
            max-width: 174px
            width: 174px
            height: 252px
            max-height: 300px
            float: left
    
        h1
            font-size: 3em
            font-weight: bold
            margin-bottom: .7em
            color: #253653
            max-width: 600px
            line-height: 1em
            font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
            -webkit-font-smoothing: antialiased
        
            .year
                color: #ccc
                font-size: 0.7em
            
                span
                    vertical-align: 15%
                    padding: 0 .08em 0 0
    
    
        h2
            clear: both
            font-weight: bold
            font-size: 1.4em
            margin-bottom: .5em
        
        p
            line-height: 1.6em
    
        blockquote p:last-child
            text-align: right
            font-style: italic
            font-size: .8em
            margin-top: .8em
    
        blockquote p:nth-last-child(2):after
            //content: " ❚"
            color: #E7EBF2

    .release
        table
            clear: both
            width: 100%
            color: #333
            margin-top: 1.5em
        
            thead th
                padding: .5em 10px
                border-bottom: 1px solid #ddd
        
            li
                display: inline
                padding-right: .1em
            
                & + li
                    border-left: 1px solid #ccc
                    padding-left: .5em
        
            tbody
                td:nth-child(1)
                    width: 18%
                
                td:nth-child(2)
                    width: 15%
                
                td:nth-child(3)
                    width: 24%
            
                td:nth-child(4)
                    width: 10%
            
                td
                    padding: .5em 10px
                    vertical-align: middle
                
                .rating
                    padding-bottom: .4em
                
                    span
                        font-size: .8em
                        color: #ccc
                        vertical-align: 20%
                        padding-left: .7em
            
                tr:hover .rating span
                    color: #666
                
                tr:hover
                    background: $link_hover_background
            
                tr + tr td
                    border-top: 1px solid #eee

        