body > header
    background: $header_background
    position: relative
    z-index: 150
    
    h1
        color: #fff
        font-size: 1.8em
        padding: .42em .6em
        position: absolute
        text-shadow: 0 1px 0 #000
        
        
        sup
            vertical-align: 60%
        
        sub
            font-size: 0.33em
            text-transform: uppercase
            margin-left: -1.2em
            vertical-align: -40%


//@media all and (max-width: 65em)
//    body > header h1
//        right: 0
