#login
    section.login
        +pie-clearfix
        
        h1
            font-weight: bold
            font-size: 2em
            color: #344558
            margin-bottom: .8em
            font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
            -webkit-font-smoothing: antialiased
        
        p
            color: #444
    
        form
            float: left
            padding-right: 3em
            margin-right: 2em
            border-right: 1px solid #eee
        
            h1
                margin-bottom: .2em
    