@import "compass/css3"
@import "compass/utilities"

body > nav
    background: $header_background url(../images/glow.png) bottom repeat-x
    margin-bottom: 3em
    border-bottom: 1px solid #fff
    position: relative
    z-index: 100
    min-height: 3.75em
    
    > p
        position: absolute
        top: 0
        right: 0
        margin: 0
        color: rgba(255, 255, 255, .4)
        padding: 1.3em .5em 1.1em
        text-shadow: 0 1px 0 $header_background
        
        > span, > a:visited, > a:link
            color: #fff
            text-shadow: 0 1px 0 #000
            display: inline-block
            padding: 1.2em .8em
            margin: -1.3em -.3em -1.1em -.6em
        
        > a:hover
            background: #38496E url(../images/glow.png) bottom repeat-x
            //background: none
        
        > a:last-child, > a:last-child
            margin-right: .5em
            margin-left: 0
            padding: 1.2em .8em
            
            &:hover
                background: #38496E url(../images/glow.png) bottom repeat-x
    
    > ul
        +pie-clearfix
        width: 750px
        margin: 0 auto
        
        > li
            display: block
            float: left
            position: relative
            
            > a:visited, > a:link
                color: #fff
                display: block
                padding: 1.3em 1em 1.2em
                margin: 0 0em 0
                text-shadow: 0 1px 0 #000
            
            > a:hover, &:hover
                background: #38496E url(../images/glow.png) bottom repeat-x
            
            &:first-child
                margin-left: -4em
                border-left: 1px solid transparent
            
            &:hover > ul, &:hover > div
                display: block
            
            > ul, > div
                width: 16em
                position: absolute
                top: 100%
                background: #e6e6e6
                padding: .2em
                z-index: 1000
                border: 1px solid #aaa
                border-top: 0
                display: none
                
                > li
                    border-bottom: 1px solid #bbb
                    //padding: .2em .4em .3em
                    
                    & + li
                        border-top: 1px solid #f3f3f3
                        
                        a:link, a:visited
                            padding-top: .5em
                        
                        &:hover
                            border-top-color: #fff
                        
                    &:last-child
                        border-bottom: 0
                        
                        a:link, a:visited
                            padding-bottom: .4em
                        
                    a:link, a:visited
                        color: #333
                        display: block
                        text-shadow: 0 1px 0px #fff
                        padding: .4em .6em .5em
                        
                    a:hover
                        background: #f0f0f0
                    
                input
                    padding: .3em .2em 
                    width: 16.8em
                    margin: .4em .4em .5em
                    
    #browse-menu-item > div
        width: 20em
        //left: 50%
        //margin-left: -10em
        
        > ul
            background: #fff
            overflow: auto
        
        > ul > li
            +box-sizing(border-box)
            display: block
            width: (20em / 3)
            float: left
            border: 1px solid #ccc
            border-top: 0
            border-right: 0
            cursor: default
            
            &:first-child
                border-left: 0
            
            &.selected
                //background: #f7f7f7
                border-bottom-color: transparent
            
            &:not(.selected)
                background: #e6e6e6
            
            &:hover:not(.selected)
                background: #eee
                cursor: pointer
            
            
            strong
                display: block
                text-align: center
                padding: .6em .6em .5em
                
                
        
        > table
            width: 100%
            display: none
            //margin-top: -1px
            background: #f7f7f7
            
            &.selected
                display: table
            
            td
                width: (100% / 7)
            
            a:link, a:visited
                display: block
                padding: .45em 0 .55em
                text-align: center
                border: 1px solid #fff
                font-size: 1.2em
                color: #555
                
            a:hover
                background-color: #fff
                color: #333

