@import "compass/css3"
@import "compass/utilities"

+global-reset
+reset-html5

$header_background: #425E87
$link_hover_background: #FFFCE0
$link-color: #27619b

$font-serif: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif
$font-light: 'Helvetica Neue Light', HelveticaNeue-Light, Arial, Helvetica, sans-serif
$font-content: Helvetica, arial, freesans, clean, sans-serif
$font-actions: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Geneva", "Verdana", "sans-serif"
$font-fixed: "Courier New"

html
    height: 100%
    background: #fff

body
    +box-sizing("border-box")
    overflow-y: scroll
    min-height: 100%
    max-width: 1200px
    min-width: 890px
    padding: 0
    margin: 0 auto
    border: 1em solid #fff
    font-size: 12px
    line-height: 1.4em
    background: #F3F3F3
    font-family: $font-content

footer
    text-align: center
    color: #bbb
    font-size: .8em
    padding: 1em 0

@import "header"
@import "navigation"
@import "content"
@import "details"
@import "login"
@import "messages"
@import "applications/browse"
@import "applications/lists"
@import "applications/movie_details"
@import "applications/checker"
