{% extends "collection/browse/base.html" %}

{% block title %}{{ super() }} · Sfoglia film per lettera: {{ letter }}{% endblock title %}

{% block browsetitle %}Sfoglia film per lettera: {{ letter }}{% endblock %}

{%- block browsetable %}
			{%- for m in items %}
			<tr>
				<th><a href="{{ m.meta_origin }}"><strong>{{ m.title }}</strong> <span>– {{ m.year }}</span></a></th>
				<td class="duration">
					{%- if m.duration.hours %}<strong>{{ m.duration.hours }}</strong> <span>or{{ m.duration.hours|pluralize('a','e') }}</span> {% endif -%}
					{%- if m.duration.minutes %}<strong>{{ '{0:02d}'.format(m.duration.minutes) }}</strong> <span>min</span>{% endif -%}
				</td>
			</tr>
			{%- endfor %}
{%- endblock %}
