
#checker_index
    form
        > p
            text-align: center
            
            &.focus
                background: none
    
    section input
        padding: .45em .6em .5em
        font-size: 1em
        width: 30em

#checker_results
    pre
        margin: 0
        font-family: $font-fixed
        
        span
            +border-radius(.5em)
            background: rgba(255, 128, 0, .1)
            //display: inline-block
            white-space: pre
            padding: .2em .5em
            margin: -.2em -.5em
            
            &:target
                background: rgba(255, 128, 0, .4)
                
    
    table
        .icon, .role
            text-align: center
            
    .poster
        max-width: 174px
        max-height: 300px
        padding: 2px
        border: 1px solid #ccc
        
        + .poster
            margin-left: 1em
    
        