{% extends "lists/base.html" %}

{% block title %}{{ super() }} · {% if editing %}Rinomina lista{% else %}Crea nuova lista{% endif %}{% endblock title %}

{% block bodyid %}lists_create{% endblock %}

{% block content %}
	<section>
		{% if editing %}
		<h1>Rinomina lista</h1>
		
		<p>Utilizzando il campo di testo sottostante è possibile rinominare la lista “{{ instance.name }}”. Ricorda che non puoi usare lo stesso nome per più di una lista.</p>
		{% else %}
		<h1>Crea una nuova lista</h1>
			
		<p>Grazie alle liste é possibile organizzare i diversi film presenti nel database a proprio piacimento e secondo i più svariati criteri.<br />Per esempio puoi creare una lista di “Film già visti”, una di “Film da guardare” ed una di “Favoriti”.</p>
		{% endif %}
		
		<form action="" method="post" accept-charset="utf-8">
			{% csrf_token %}
			{{ form.name.errors|safe }}
			{{ form.non_field_errors()|safe }}
			<p>
				{{ form.name|safe }}
				<button type="submit" class="inline">{% if editing %}Rinomina{% else %}Crea{% endif %}</button>
			</p>
		</form>
	</section>
{% endblock %}
